<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/producto">Tiendita</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/carrito" routerLinkActive="active">Carrito</a>
                </li>
                <ng-container *ngIf="obtenerSesion()==='false'; else salir">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signin" routerLinkActive="active">Log In</a>
                    </li>
                </ng-container>
                <ng-template #salir>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor:pointer;" routerLinkActive="active" (click)="cerrarSesion.signOut()">Log Out</a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </div>
</nav>